         <div class="">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <div class="pull-right label label-danger">5</div>
                  <div class="pull-right label label-success">12</div>
                  <div class="panel-title">Atendimento</div>
               </div>
<!--scrollable ng-if="{{false}}" height="500px" position="fixed" width="100%" style="    
    bottom: 45px;
    height: 500px;
    left: 0;
    overflow: hidden;
    position: fixed !important;">              
   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-left">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/03.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-right">01/01/2010 12:01:10</small>
            <strong class="media-heading text-primary">
               Jessica Silva</strong>
            <p style="clear: left;" class="mb-sm">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-right">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/12.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-left">01/01/2001 10:01:01</small>
            <strong class="media-heading text-primary pull-right">
               Rosa Burke</strong>
            <p style="clear: right;" class="mb-sm pull-right">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-left">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/03.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-right">01/01/2010 12:01:10</small>
            <strong class="media-heading text-primary">
               Jessica Silva</strong>
            <p style="clear: left;" class="mb-sm">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-right">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/12.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-left">01/01/2001 10:01:01</small>
            <strong class="media-heading text-primary pull-right">
               Rosa Burke</strong>
            <p style="clear: right;" class="mb-sm pull-right">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-left">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/03.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-right">01/01/2010 12:01:10</small>
            <strong class="media-heading text-primary">
               Jessica Silva</strong>
            <p style="clear: left;" class="mb-sm">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-right">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/12.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-left">01/01/2001 10:01:01</small>
            <strong class="media-heading text-primary pull-right">
               Rosa Burke</strong>
            <p style="clear: right;" class="mb-sm pull-right">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-left">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/03.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-right">01/01/2010 12:01:10</small>
            <strong class="media-heading text-primary">
               Jessica Silva</strong>
            <p style="clear: left;" class="mb-sm">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-right">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/12.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-left">01/01/2001 10:01:01</small>
            <strong class="media-heading text-primary pull-right">
               Rosa Burke</strong>
            <p style="clear: right;" class="mb-sm pull-right">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-left">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/03.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-right">01/01/2010 12:01:10</small>
            <strong class="media-heading text-primary">
               Jessica Silva</strong>
            <p style="clear: left;" class="mb-sm">
               <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
            </p>
         </div>
      </div>
   </a>

   <a class="list-group-item" href="#" style="border: 0px;">
      <div class="media">
         <div class="pull-right">
            <img class="media-object img-circle thumb32" alt="Image" src="app/img/user/12.jpg">
         </div>
         <div class="media-body clearfix">
            <small class="pull-left">01/01/2001 10:01:01</small>
            <strong class="media-heading text-primary pull-right">
               Rosa Burke</strong>
            <p style="clear: right;" class="mb-sm pull-right">
               <small>ULTIMA ULTIMA ULTIMA ULTIMA ULTIMA ...</small>
            </p>
         </div>
      </div>
   </a>
   <a id="fim"></a>
</scrollable-->

<div style="height: auto;" class="ng-scope collapse in" collapse="userBlockVisible" ng-controller="UserBlockController">
   <div class="item user-block">
      <div style="margin-top: 60px; max-width: 150px; width: 150px;" class="user-block-picture">
         <div class="user-block-status">
           <div class="user-block-info" style="margin-bottom: 15px">
         <span class="user-block-name ng-binding">EVA</span>
         <span class="user-block-role ng-binding">Disponível</span>
      </div>
            <img class="img-thumbnail img-circle" alt="Avatar" src="app/img/user/evagif.gif" style="height: 150px ! important; width: 150px ! important;">
            <div class="circle circle-success circle-lg"></div>
         </div>
      </div>
      <div style="margin-bottom: 120px" class="user-block-info">
         <span class="user-block-name ng-binding">Qual 
             é sua dúvida?</span>
      </div>
   </div>
</div>


               <div style="width: 100%; position: fixed; bottom: 0; background: #FFFFFF;">
                  <div class="input-group">
                     <input type="text" class="form-control input-sm" placeholder="Buscar mensagens.." style="font-size: 16px; position: fixed; z-index: 1; bottom: 5px;">
                     <span style="z-index:9; " class="input-group-btn">
                        <button style="margin-bottom: 0px;" type="submit" class="btn btn-default btn-sm"><i class="fa fa-2x fa-send-o"></i>
                        </button>
                        <button type="submit" class="btn btn-pill-left btn-pill-right btn-danger" style="border-top-left-radius: 50px; height: 45px; width: 45px; border-bottom-left-radius: 50px;"><i class="fa fa-2x fa-microphone" style="margin-left: -4px"></i>
                        </button>
                     </span>
                  </div>
               </div>
            </div>
         </div>